@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


html {
    scroll-behavior: smooth;
    
}

body {
  font-family: 'Raleway', sans-serif;
}


/*slick slider with lightbox feature*/
#default-demo {
    width: 50%;
    margin: auto;
  }

  .col-xs-4 {
    margin: 10px;
  }
/*slick slider with lightbox feature*/

/*scroll to top*/
.totop svg {
    width: 20px;
    height: 20px;
    fill: #FFF;
}

.totop-inner {
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #f6b71f;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
/*scroll to top*/

.hero {
  /*background-image: url("/img/straightherobackground.png");*/
  background: url("/img/straightherobackground.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  /*height: 880px;*/
  color: white;
}

.hero .logo {
  margin: 20px 40px;
}

.hero1 {
  height:  800px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-weight: 700;
}

h2 span {
  font-weight: 800;
  font-size: 50px;
}

.intro {
  width: 670px;
  margin: 40px;
  
}

.intro h1 {
  
  font-size: 64px;
  font-weight: bold;
}

.intro span {
  font-weight: 800;
}

.form-container form {
  display: flex;
  justify-content: space-between;
}

.form-container input[type='email'] {
width: 68%;
height: 40px;
border-radius: 4px;
padding: 16px;
border-style: none;
}



.form-container input[type='submit'] {
  height: 40px;
  background-color: #6C63FF;;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  border-style: none;
  width: 30%;
  
  }

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding: 30px 83px;
  box-shadow: 5px 5px 66px rgba(0, 0, 0, 0.25);
  border-radius: 16px 0px 0px 16px;
  width: 85%;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  color: #4C4981;
}

.service div {
width: 315px;
}

.service h4 {
 font-weight: 600;
  }

.service hr {
width: 84px;
border: 2px solid #4C4981;
}

.steps {
  background-color: #4C4981;
  border-top-right-radius: 66px;
  border-bottom-right-radius: 66px;
  width: 60vw;
  color: #FFF;
  text-align: right;
  padding-right: 4vw;
  margin-bottom: 40px;
}

.step1, .step3, .step5 {
  background-image: url("/img/pinkblob1.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 100px;
  flex-wrap: wrap;
}

.step3 {
  background-image: url("../img/pinkblob2.png");
background-position-y: 70%;
}

.step5 {
  background-image: url("../img/pinkblob3.png");
  background-position-y: 20%;
}

.step2, .step4, .step6 {
  background-image: url("../img/blueblob1.png");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 100px;
}

.step4 {
  background-image: url("../img/blueblob2.png");

}

.step6 {
  background-image: url("../img/blueblob3.png");
}

.step1 div, .step2 div, .step3 div, .step4 div, .step5 div, .step6 div {
  width: 500px;
  color: #4C4981;
}

.step1 div h3, .step2 div h3, .step3 div h3, .step4 div h3, .step5 div h3, .step6 div h3{
  font-weight: bold;
}

p.closing, footer span {
  font-weight: 600;
  font-size: 25px;
  color: #4C4981;
  width: 80vw;
  margin: auto;
  text-align: center;
}


p.closing span:nth-of-type(1) {
  font-weight: 800;
}

p.closing span:nth-of-type(2) {
  font-weight: 800;
  font-size: 34px;
}

p.closing span:nth-of-type(3) {
  font-weight: 800;
  font-size: 48px;
}

.lastform {
 width: 49.7%;
 margin: 66px auto;
}

footer {
  background-image: url("/img/footermockupbg.png");
  
}

footer p {
  color: #FFF;
  font-weight: 600;
  text-align: center;
  padding-top: 45px;
}

footer span {
  font-size: 18px;
  color: #FFF;
}

footer .end {
font-size: 14px;
display: block;
padding-bottom: 50px;
color: #FFF;
}

@media only screen and (max-width: 768px) {
.hero {
  background-image: url("/img/mobileherobackground.png");

}

.hero1{
  height: 1028px;
}

.intro {
 margin: 15px;
  width: 90%;
}

.intro h1 {
  font-size: 32px;
}

.service {
  padding: 30px 23px;
  margin: 30px auto;
  border-radius: 16px 16px 16px 16px;
}

.steps {
  width: 70vw;
}

.steps h2{
font-size: 6vw;
}

.step1 {
  background-image: url("/img/mobilepinkblob1.png");
background-size:  contain;
}

.step3 {
  background-image: url("/img/mobilepinkblob2.png");
  background-position: 0 -25%;
  background-size: contain;
}

.step5 {
  background-image: url("/img/mobilepinkblob3.png");
  background-position: 0 -70px;
  background-size: contain;
}

.step1, .step3, .step5 {
  margin-right: 0px;
}

.step1 div, .step2 div, .step3 div, .step4 div, .step5 div, .step6 div {
  width: 85vw;
}

.step1 div h3, .step2 div h3, .step3 div h3, .step4 div h3, .step5 div h3, .step6 div h3{
  font-size: 20px;
}

.step2 {
  background-image: url("/img/mobileblueblob1.png");
  margin-left: 0px;
  background-position-y: -25%;
  background-size: contain;
}

.step4 {
  background-image: url("/img/mobileblueblob2.png");
  margin-left: 0px;
  background-position: 0px -250px;
  background-size: contain;
}

.step6 {
  background-image: url("/img/mobileblueblob3.png");
  margin-left: 0px;
  background-position: right -150px;
  background-size: contain;
}

p.closing {
  font-size: 4vw;
  margin-top: 30px;
}

p.closing span:nth-of-type(1) {
}

p.closing span:nth-of-type(2) {
  font-size: 6vw;
}

p.closing span:nth-of-type(3) {
  font-size: 8vw;
}

footer p {
  margin-left: 10px;
  margin-right: 10px;
}

.lastform {
  width: 80vw;
 }

footer {
  background-position: -180px 0;
}


}